*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
body{
  background: url("../assets/escape-room-bg.png");
  background-repeat: no-repeat;
  -background-size: cover;
  background-size: 770px 380px;
  color: #fff;
  width: 760px;
  height: 380px;
  -overflow: scroll;
  -background-attachment: local;
}
body,.App,.clickArea{
  width: 760px;             /* width: 100%; will not work*/
  height: 380px;            /* height: 100%; will not work*/
}